body {
  text-align: center;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

input {
  padding: 10px;
  background-color: bisque;
  border-radius: 20px;
  width: 300px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: yellowgreen;
  transform: scale(1);
}

p {
  padding: 20px;
  font-size: 30px;
}
